@page "{cityName}"
@model _25E2_4_TP2.Pages.CityManager.CityDetails

@{
    ViewData["Title"] = "Detalhes da Cidade"; 
}

<!DOCTYPE html>

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>

    @if (!string.IsNullOrEmpty(Model.CityName))
    {
        <div class="alert alert-info mt-4">
            <h4>Você está vendo detalhes de: @Model.CityName</h4>
        </div>
    }
    else
    {
        <div class="alert alert-warning">
            Nenhuma cidade foi especificada na URL.
        </div>
    }
    
    <ul class="list-group">
        @for (int i = 0; i < Model.Cities.Count; i++)
        {
            <li name="@Model.Cities[i]" class="list-group-item">
                <a asp-page="/CityManager/CityDetails" asp-route-cityName="@Model.Cities[i]">@Model.Cities[i]</a>
            </li>
        }
    </ul>
</div>